.visual {
    margin: 20px;
    overflow: scroll;
    height: 550px;
    overflow: auto;
    border: 1px solid rgb(130, 130, 130);
    border-radius: 32px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 50px;
    color: rgb(74, 74, 255);
}